@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");
@import "./normalize";

html,
body {
  padding: 0;
  margin: 0;
  color: var(--color-secondary);
  font-family: "Shippori Antique B1", -apple-system, BlinkMacSystemFont,
    sans-serif;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #1246e2;
  --color-secondary: #383838;
}

.container {
  max-width: 56rem;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  padding: 0 8px 22px;

  @media (max-width: 768px) {
    max-width: 90%;
  }
}

a {
  color: var(--color-primary);
  text-decoration: none;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    background-color: var(--color-primary);
    width: 0%;
    transition: width 0.3s ease-out;
  }

  &:hover {
    &::after {
      width: 90%;
    }
  }
}

p {
  font-family: "helvetica", "arial", sans-serif;
  line-height: 150%;
  font-size: 1.125rem;
}

.hide-sm {
  @media (max-width: 768px) {
    display: none;
  }
}
