@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");
@import "./normalize";

html,
body {
  padding: 0;
  margin: 0;
  color: var(--color-secondary);
  font-family: "Shippori Antique B1", -apple-system, BlinkMacSystemFont,
    sans-serif;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 56rem;
  margin: 0 auto;
}

:root {
  --color-primary: #1246e2;
  --color-secondary: #383838;
}
